@charset "utf-8";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

#slide_cover {
  width: 100%;
  overflow: hidden;
}
#slider_box {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  /* margin-left: 800px; */
  /* background-color: #f00; */
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
#slider_box .slider {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: flex;
  /* background-color: #ff9; */
  /* margin-left: -200%; */
  transition: transform 0.5s;
}
#slider_box .slider.prev {
  margin-left: -100%;
  transition: margin-left 0.5s;
}
#slider_box .slider.next {
  margin-left: -300%;
  transition: margin-left 0.5s;
}
#slider_box .slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#slider_box .slider .slide.active {
  opacity: 1;
}

#slider_box .arrow {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1;
}
#slider_box .arrow a {
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#slider_box .arrow a.arrow_prev {
  left: -40px;
}
#slider_box .arrow a.arrow_next {
  right: -40px;
}
#slider_box.hover .arrow a.arrow_prev {
  left: 20px;
}
#slider_box.hover .arrow a.arrow_next {
  right: 20px;
}
#slider_box .arrow a img {
  display: block;
  height: 20px;
}
#slider_box .gage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(0,0,0,0.5);
}
#slider_box .gage .bar {
  width: 0%;
  height: 100%;
  background-color: #07f;
  transition: width 0.1s linear;
}
#slider_box .slide_num {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 16px;
  z-index: 1;
}

#slider_box .playing_btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;

}#slider_box .playing_btn button {
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.5);
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#slider_box .playing_btn button img {
  width: 20px;
  height: 20px;
}

.slide1 { background-image: url(../img/slide_1.jpg); }
.slide2 { background-image: url(../img/slide_2.jpg); }
.slide3 { background-image: url(../img/slide_3.jpg); }
.slide4 { background-image: url(../img/slide_4.jpg); }
.slide5 { background-image: url(../img/slide_5.jpg); }
.slide6 { background-image: url(../img/slide_6.jpg); }
.slide7 { background-image: url(../img/slide_7.jpg); }
.slide8 { background-image: url(../img/slide_8.jpg); }