@charset "utf-8";
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* 매개변수 활용한 환경사진 보여주기 */
.photoCover {
  display: flex;
  flex-wrap: wrap;
}
.photoCover .photo {
  width: calc(25% - 20px);
  margin: 0 10px 20px;
  border: 1px solid #f90;
}
.photoCover .photo .photoImg {
  width: 100%;
  height: 160px;
  background-color: #eee;
  background-position: 50% 50%;
  background-size: cover;
}
.photoCover .photo h4 {
  margin-top: 10px;
}
