@charset "utf-8";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

/* 이미지 자동 슬라이드 */
#imgSlide {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../img/land_01.jpg);
  transition: background-image 1s;
}

.toastMsg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4px;
  color: #fff;
  background-color: #444;
  text-align: center;
  transform: translateY(-100%);
  transition: transform 1s;
}
.toastMsg.active {
  transform: translateY(0);
}