/*common.css*/
/*공통요소*/
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{box-sizing: border-box; font-family: 'Open Sans', sans-serif;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0; color: #fff;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none; color: #fff;}
button{cursor: pointer;}


body{background-color: #171717;}

/* header */
header {
  height: 60px;
  background-color: #363636;
}
header .wrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .wrap .logo {}
header .wrap .logo a {}
header .wrap .logo a img {
  display: block;
  height: 50px;
}
header .wrap nav {}
header .wrap nav ul {
  display: flex;
}
header .wrap nav ul li {
  margin: 0 15px;
}
header .wrap nav ul li:last-child {
  margin-right: 0;
}
header .wrap nav ul li a {
  display: block;
  text-transform: uppercase; /* 대문자 */
  color: #999;
  font-size: 14px;
}
header .wrap nav ul li:hover a {
  color: rgb(0, 200, 255);
}


/* footer */